<h1> Edit your Nanny </h1>

<h2> Nanny selected : </h2>
<ul>
    <li>Created by user id : <%= @nanny.user.id %> </li>
    <li>Nanny id n°<%= @nanny.id %></li>
    <li>price_per_day : <%= @nanny.price_per_day %></li>
    <li>Experience : <%= @nanny.experience %></li>
    <li>Capacity :<%= @nanny.capacity %></li>
</ul>
experience: 4, capacity:
<h3>Please update the info by filling this form</h3>

<%# remmplacer @user par @nanny, faut changer toutes les routes pour le create et le new %>

<%= simple_form_for [@nanny] do |f| %>
  <%= f.input :price_per_day %>
  <%= f.button :submit %>

<% end %>

<%= link_to "Back to index", nannies_path %>
