<h1>All the Nannies :</h1>
<br>
<div class= "result">

    <div class="nanny-card">
      <% @nannies.each do |nanny| %>
        <ul>
          <li>created by user id : <%= nanny.user.email %>
          <li>nanny id : <%= nanny.id %></strong></li>
          <li>Nanny first name : <%= nanny.first_name %></li>
          <li>Nanny last name : <%= nanny.last_name %></li>
          <li>Nanny email : <%= nanny.email %></li>
          <li>Price per day : <%= nanny.price_per_day %></li>
            <% if nanny.user == current_user %>
            <%= link_to "Edit this Nanny", edit_nanny_path(nanny.user.id, nanny.id) %>
            <%= link_to "Delete", nanny_path(nanny.user.id, nanny.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </ul>
      <% end %>
    </div>

</div>

<br>
<br>
<br>

  <%= link_to "Home", dashboard_path %>
   <%= link_to "Search", dashboard_path %>
