<%# <h2>Your notifications</h2>

 %>

<h2> Create your Nanny's profile</h2>

<h2>Please fill in the following form: :</h2>
<br>
<div class="form">

    <%= simple_form_for @nanny do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :photo, as: :file %>
      <%= f.input :email %>
      <%= f.input :tel %>
      <%= f.input :price_per_day %>
      <%= f.button :submit %>
    <% end %>

</div>


<div  class="links">
  <%= link_to "Back", :back %>
</div>
