<h2>Your notifications</h2>



<h2>New Nanny</h2>

<h2>Please fill in the following form to propose your service :</h2>
<%= simple_form_for @nanny do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :tel %>
  <%= f.input :price_per_day %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back", :back %>
