<%# <h2>Your notifications</h2>

 %>
 <div class="background">

  <div >
    <br>
    <br>

    <div class="headline">
      <h2> Create your Nanny's profile</h2>
      <br>
      <h5>Please fill in the following form :</h5>

    </div>

    <br>

    <div class="form">
      <div class ="col-sm-12 ">

        <%= simple_form_for @nanny do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :photo, as: :file %>
          <%= f.input :email %>
          <%= f.input :address %>
          <%= f.input :description%>
          <%= f.input :tel %>
          <%= f.input :price_per_day %>
          <br>
          <%= f.button :submit %>
        <% end %>
      </div>

    </div>

  </div>

  <div  class="links">
    <%= link_to "Back", :back %>
  </div>

</div>
