<h1 class="right-text">Past & Incoming Bookings</h1>
<div class="result-index">
  <% @bookings.each do |booking| %>
  <div class="index-booking">
  <br>
    <strong><%= link_to "Booking number", booking_path(booking.id) %> <%= booking.id %></strong></li>
    <br/>
    <li>Price par day : <%= booking.nanny.price_per_day %>
    <li>Start date : <%=  booking.start_date %></li>
    <li>End date : <%= booking.end_date %></li>
    <li>Status : <%= booking.status %></li>
    <li>Price :index_vers_la_droite: <%= (booking.end_date.mjd - booking.start_date.mjd + 1) * booking.nanny.price_per_day %>€</li>
    <div class="prof-links">
    <% if booking.user == current_user %>
    <%= link_to "Edit the booking", edit_booking_path(booking.user.id, booking.id) %>
    </div>
    <div class="prof-links">
    <%= link_to "Delete", booking_path(booking.user.id, booking.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>
  </div>
    <% end %>
</div>
<%= link_to "Back", :back %>





