<h1>New Booking</h1>
<h2>Please fill in the following form to create a new booking :</h2>
<%= simple_form_for [@user, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :nanny_id %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back", :back %>