 <div class="container-booking">

    <div class="nanny-choice">
        <h3>Your super nanny</h3>
        <p class="price"> PRICE PER DAY : <%= @nanny.price_per_day %></p>
        <hr>
        <p>NANNY ID : <%= @nanny.id %></p>
        <hr>
        <p>FIRST NAME : <%= @nanny.first_name %></p>
        <hr>
        <p>LAST NAME : <%=  @nanny.last_name %></p>
        <hr>
    </div>

      <div class="form-info">
      <h3 class="booking-title">Create your booking</h3>

        <%= simple_form_for [@nanny, @booking] do |f| %>

        <%= f.input :start_date, error: 'S is mandatory, please specify one' %>
        <%= f.input :end_date %>
        <%= f.input :nanny_id, input_html: {value: params[:nanny_id]} %>
        <%= f.button :submit %>
       <% end %>
    </div>
  </div>
