<div>
    <h1>Booking Id <strong>n°<%= @booking.id %></strong></h1>
</div>

<div>
    <h2>Dates 🗓️</h2>
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>
</div>

<br>

<div>
    <table class="tg">
        <thead>
        <tr>
            <th class="tg-baqh">From :</th>
            <th class="tg-0lax">To :</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-0lax"><%= @booking.start_date %></td>
                <td class="tg-0lax"><%= @booking.end_date %></td>
            </tr>
        </tbody>
    </table>
</div>

<br>



<div>
    <h2>Total Price 💸</h2>
    <p><%= @booking.total_price %> €</p>
</div>

<%= link_to "Back to Index", bookings_path %>
<%= link_to "Back", :back %>
