<div class="top">
  <h1><i class="fa-regular fa-calendar-days"> </i> My Dashboard </h1>
  <%# <h1 class="blue"> Nanny & Kids </h1> %>
</div>


<%# Box with ALL divs = dash %>
<div class="dash">
  <%# Box with (Profile div + calendar div) = side %>
  <div class="side">

    <div class="profile">
      <h3>My profile</h3>
      <%# <img class="avatar"src="avatar Ophe.jpg" alt="user pic"> %>
      <%= image_tag("https://res.cloudinary.com/dhxefoe7j/image/upload/v1661771495/Nanny%20N%20Kids/avatar_Ophe_uar2wv.jpg", :width=>150, :height=>150, :radius=>"50px", :crop=>"fill")%>

      <br>
      <br>


      <%# <%= link_to 'Edit profile', "#" %>
       <%# <div id="current_date"></p>
          <script>
          document.getElementById("current_date").innerHTML = Date();
          </script> %>
      <br>
      <ul class="notif">
        <li class="mail">Logged as :
            <span class="blue-mail"><u><% if user_signed_in? %>
            <%= current_user.email %>
            <% end %></u></span>
        </li>
        <br>
        <br>
        <br>

        <%# <li><i class="fa-solid fa-gear"></i><a href="#">Edit profile</a></li> %>
        <li><i class="fa-solid fa-gear"></i><%= link_to "Edit profile", "#" %></li>
        <br>
        <li><i class="fa-solid fa-right-from-bracket"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>

    <div class="callendar">
      <%# <p>Add a callendar plug in HERE</p> %>
      <%= image_tag("https://res.cloudinary.com/dhxefoe7j/image/upload/v1661528801/Nanny%20N%20Kids/Sans_titre_18_e1dgmd.png",
          width: 200, crop: :fill)%>

    </div>
  </div>


  <%# Box with dashboard actions = container %>
   <div class="container-dash">
    <div class="cards_family">
       <%= image_tag("https://res.cloudinary.com/dhxefoe7j/image/upload/v1661528068/Nanny%20N%20Kids/Sans_titre_13_qqmbyk.png",
          width: 190, crop: :fill)%>
        <div class="card-action">
          <h2>You are a Family</h2>
          <p>You need a Nanny ?</p>
          <p>Check out all the Nannies profiles !</p>
          <p>Start your search</p>
          <br>
          <%# <a href="#"class="find-nanny">Find a Nanny</a> %>
          <%= link_to 'Find a Nanny', nannies_path %>
        </div>
    </div>

    <div class="cards_nanny">
      <%= image_tag("https://res.cloudinary.com/dhxefoe7j/image/upload/v1661528260/Nanny%20N%20Kids/Sans_titre_11_pn5dve.png",
            width: 140, crop: :fill)%>
        <div class="card-action">
          <h2>You are a Nanny</h2>
          <p>You wanna propose your services ? </p>
          <p> Look around and find a family</p>
          <br>
          <%= link_to "Babysit", new_nanny_path %>
        </div>
    </div>

    <div class="cards_bookings">
      <%= image_tag("https://res.cloudinary.com/dhxefoe7j/image/upload/v1661528368/Nanny%20N%20Kids/Sans_titre_15_fwvbeh.png",
            width: 140, crop: :fill)%>
        <div class="card-action">
          <h2>Bookings</h2>

          <p>Take a look at your past <br>and incoming reservations</p>
          <br>

          <%= link_to "View", bookings_path %>
          <br>
        </div>
    </div>

    <div class="cards_mess">
      <%= image_tag("https://res.cloudinary.com/dhxefoe7j/image/upload/v1661528441/Nanny%20N%20Kids/Sans_titre_14_ytj7p2.png",
            width: 240, crop: :fill)%>
        <div class="card-action">
          <h2>Messages</h2>
          <p>Check out your conversation feed</p>
          <br>
          <%= link_to "Go", messages_path %>
          <%# <a href="#">Go</a> %>
        </div>
    </div>
  </div>


</div>

<div class= 'footer'>
  <p class="follow">Follow Us !</p>
  <ul>
    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
  </ul>
  <p class="info">Nanny N Kids - 18, Marble Street - LONDON </p>
  <p>Copyright nannynkids.herokuapp.com - All rights reserved.
  <a href="#">contact@nannynkids.com</a></p>
</div>
