<h1>Conversation feed</h1>
<br>
<br>


<h4 class="conv">Conversation with <span class="mami">Mamie Suzette.</span></h4>

<div class="total">

  <div class="page-content page-container" id="page-content">
      <div class="padding">
          <div class="row container d-flex justify-content-center">
  <div class="col-md-6">
              <div class="card card-bordered">
                <div class="card-header">
                  <h4 class="card-title"><strong>Chat</strong></h4>
                  <a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>
                </div>


                <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                  <div class="media media-chat">
                    <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1661771495/Nanny%20N%20Kids/avatar_Ophe_uar2wv.jpg', crop: :fill, class:'avatarr') %>
                    <div class="media-body">
                      <p>Hi</p>
                      <p>How are you ...???</p>
                      <p>What are you doing tomorrow?<br> Can you watch for Andrea in the morning?</p>
                      <p class="meta"><time datetime="2018">23:58</time></p>
                    </div>
                  </div>

                  <div class="media media-meta-day">Today</div>

                  <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                      <p>Hiii, I'm good.</p>
                      <p>How are you doing?</p>
                      <p>No problem for tomorrow! what time?</p>
                      <p class="meta"><time datetime="2018">00:06</time></p>
                    </div>
                  </div>

                  <div class="media media-chat">
                    <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1661857073/Nanny%20N%20Kids/profile5_lybhad.jpg', crop: :fill, class:'avatarr') %>
                    <div class="media-body">
                      <p>Okay</p>
                      <p>Great thank you! 9AM will be perfect! We'll be back at 6PM</p>
                      <p class="meta"><time datetime="2018">00:07</time></p>
                    </div>
                  </div>

                  <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                      <p>Ok ! Good for me!</p>
                      <p>Do you want me to come over?</p>
                      <p>Or I take Andrea at home?</p>
                      <p class="meta"><time datetime="2018">00:09</time></p>
                    </div>
                  </div>

                  <div class="media media-chat">
                    <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1661771495/Nanny%20N%20Kids/avatar_Ophe_uar2wv.jpg', crop: :fill, class:'avatarr') %>
                    <div class="media-body">
                      <p>We can drive her to your place!</p>
                      <p class="meta"><time datetime="2018">00:10</time></p>
                    </div>
                  </div>

                  <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                      <p>Ok great!</p>
                      <p class="meta"><time datetime="2018">00:10</time></p>
                    </div>
                  </div>

                  <div class="media media-chat">
                    <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1661857073/Nanny%20N%20Kids/profile5_lybhad.jpg', crop: :fill, class:'avatarr') %>
                    <div class="media-body">
                      <p>See you tomorrow!</p>
                      <p class="meta"><time datetime="2018">00:12</time></p>
                    </div>
                  </div>

                  <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                      <p>Yep! have a good day!</p>
                      <p class="meta"><time datetime="2018">00:12</time></p>
                    </div>
                  </div>

                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

                <div class="publisher bt-1 border-light">

                  <%# <img class="avatarr avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png"width ="80px" alt="..."> %>

  < <%= image_tag('https://res.cloudinary.com/dhxefoe7j/image/upload/v1661771495/Nanny%20N%20Kids/avatar_Ophe_uar2wv.jpg', crop: :fill, class:'avatarr') %>

                  <input class="publisher-input" type="text" placeholder="Write something">
                  <span class="publisher-btn file-group">
                    <i class="fa fa-paperclip file-browser"></i>
                    <input type="file">
                  </span>
                  <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                  <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
                </div>

              </div>
            </div>
            </div>
            </div>
            </div>

</div>

<div class ="messlink">
  <%= link_to "Home", dashboard_path, class:"homemess" %>
</div>
