<!DOCTYPE html>
<html>
  <head>
    <title>NannyNKids</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/8110e6fe91.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' unless params[:action] == 'users/sign_in' %>
    <%= render 'shared/flashes' %>
    <h5>You are logged as :
      <% if user_signed_in? %>
      <%= current_user.email %>
      <% end %>
    </h3>
        <%= yield %>
  </body>
</html>

<%# params[:controller] == 'users' &&  %>
